@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --main-color: #fac593;
  --black: #222;
  --white: #fff;
  --brown: #a76707;
  --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

html {
  font-family: "Heebo", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

body {
  background: #f0f2f5;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#app {
  font-family: inherit;
  overflow: hidden;
}

#logo {
  width: 150px;
}

.bx {
  font-size: 20px;
}

/* button */
.button {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 6px 14px;
  background-color: var(--main-color);
  color: var(--black);
  font-size: 16px;
  font-family: "Heebo", sans-serif;
  border-radius: 5px;
  border: 1px var(--main-color) solid;
  cursor: pointer;
  transition: 0.2s linear;
}

.button:hover {
  background-color: #fdbd81;
}

.default {
  background-color: transparent;
  color: var(--white);
  border-color: #ffffff80;
}

.default:hover {
  background-color: var(--main-color);
  color: var(--black);
  border-color: var(--main-color);
}

/* transition */
