
h1::after p{
    padding-left: 30px;
}
#visa-popular,.hotels {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
}
.see-more
{
    text-align: right;
}
.search-container
{
    width: 100%;
}
.search-container input
{
    height: 50px;
    margin: 5px;
    width: 80%;
    border-radius: 5px;
    padding: 0 7px;
    margin-left: 5%;
}
.search-container button
{
    height: 50px; 
    width: 10%;
    max-width: 50px;
}
#morevisa
{ 
    font-weight: bold;
    height: 40px;
    width: 90%;
    margin: 15px auto;
    margin-left: 5%;
}