html
{
    width: 100%;
    height: 100%;
}

main
{
    margin:0 auto;
    max-width: 1024px;
    
}
body
{
    margin: 0;
    background-color: rgb(250, 235, 215);
}
.navbar-header {
    height: 65px;
    background-color: white;
    
}
.left, .right, .top_search
{
    max-height: 65px;

}
.top_search {
    padding: 4px;
    position: relative;
    margin-left: 20px;
}
.top_search input {
    margin-top: 7px;
    background-color: #f9f9f9;
    width: 70%;
    height: 100%;
    border: solid 1px #e0e0e0;
    border-radius: 50px;
    padding: 0 45px 0 20px;
    color: #757575;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    height: 34px;
}
.navbar-header button {
    height: 22px;
    width: 22px;
    color: #000;
    background: 0 0;
    border: none;
    position: absolute;
    font-size: 19px;
    z-index: 99;
}

#btnsearch, #btnmoon
{
    margin-top: 10px;
    height: 34px;
    width: 34px;
    padding: 0;
}
#btnmoon
{
    margin-left: 50px;
}
.left #ilogo
{
    display: none;
    padding: 5px;
    height: 65px;
    float: left;
}
.left #plogo
{
    height: 65px;
    padding-bottom: 25px;
    font-size: 24px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.left #plogo span
{
    padding: 5px;
    color: rgb(0, 255, 255);
}
.right img {
    margin: 5px;
    width: 44px;
    height: 44px;
    border: #000 solid 1px;
    border-radius: 80px;
    float: left;
}
.right p
{
    text-align: center;
}
#header-container
{
    margin: 0 auto;
    display: grid;
    max-width: 1024px;
    max-height: 100%;
    grid-template-columns: 20% 60% 20%;
}
#header-container span{
    text-align: center;
}

.main-nav {
    position: -webkit-sticky;
    position: sticky;
    overflow: hidden;
    top: 0;
    height: 44px;
    background-color: white;
}

.main-nav a {
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}   

.main-nav a:hover {
    background-color: #ddd;
    color: black;
}

.main-nav a.active {
    background-color: rgb(0, 255, 255);
    color: white;
}

.main-nav .icon {
    display: none;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 5px 12px;
    border-radius: 999px;
}
  
#myBtn:hover {
    background-color: #555;
}
main {
    min-height: 1000px;
    background-color: rgb(76, 97, 97);
}

footer {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    height: 100%;
    background-color: rgb(0, 255, 255)
}


.div-f-2 a{
    padding-left:50px;
    display:block;
}
.vl {
    border-left: 2px solid blue;
    height: 100%;
  }
form *
{
    display: block;
}
form input 
{
    width: 250px;
}
form textarea 
{   height: 100px;
    width:300px;
}
form #submit
{
    width: 150px;
}
.div-f-1 {
    grid-area: f1;
    padding-left: 50px;
}
 
.div-f-2 {
    grid-area: f2;
    padding-left: 50px;
}
.div-f-3 {
    grid-area: f3;
    padding-left: 50px;
}

footer
{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: "f1 f2 f3";      
}
@media screen and (max-width: 1024px) {
    main{
        margin: 0;
    }
    .main-nav a {
        float: left;
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    .div-f-3 {
        grid-area: f3;
        padding-left: 100px;
    }
    footer
    {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: "f1 f2" "f3 f3";        
    }
    .top_search input{
        display: none;
    }
    form input 
    {
        width: 450px;
    }
    form textarea 
    {   height: 100px;
        width:450px;
    }
}

@media screen and (max-width: 600px) {
    .main-nav a:not(:first-child) {
        display: none;
    }

    .main-nav a.icon {
        float: right;
        display: block;
    }
    .div-f-3 {
        grid-area: f3;
        padding-left: 50px;
    }
    footer
    {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: "f1" "f2" "f3";        
    }
    .left #plogo, .right p
    {
        display: none;
    }
    .left #ilogo
    {
        display: block;
    }
    .right img
    {
        float: right;
    }
}

@media screen and (max-width: 600px) {
    .main-nav.responsive {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        height: min-content;
        }

    .main-nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .main-nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

